<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
            <div class="card-body">
                <div class="d-flex w-100">
                    <div class="col-8 pe-2">
                        <div class="summary-title fs-5 border-bottom">Total File Items</div>
                        <div class="summary-count text-end fw-bolder mt-3 px-4">{{ postsLen|intcomma }}</div>
                    </div>
                    <div class="col-4">
                        <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                            <i class="fa fa-folder-open fs-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>