{% extends "baseStaff.html" %}
{% load humanize %}
{% load customfilter %}

{% block pageContent %}

<!--Section: Content-->
<section class="">

    <!-- Tabs for Companies -->
    <ul class="nav nav-tabs" id="companyTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="company1-tab" data-bs-toggle="tab" data-bs-target="#company1" type="button" role="tab" aria-controls="company1" aria-selected="true">Minet Botswana Retirement Solutions</button>
        </li>
        
        <!-- Add tabs for Company 2 and Company 3 here -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="company2-tab" data-bs-toggle="tab" data-bs-target="#company2" type="button" role="tab" aria-controls="company2" aria-selected="false">Minet Botswana Risk Solutions</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="company3-tab" data-bs-toggle="tab" data-bs-target="#company3" type="button" role="tab" aria-controls="company3" aria-selected="false">Minet Botswana PTY LTD</button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Content for Company 1 -->
        <div class="tab-pane fade show active" id="company1" role="tabpanel" aria-labelledby="company1-tab">
            <!-- Company 1 Dashboard Content -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                        <div class="card-body">
                            <div class="d-flex w-100">
                                <div class="col-8 pe-2">
                                    <div class="summary-title fs-5 border-bottom">Total File Items</div>
                                    <div class="summary-count text-end fw-bolder mt-3 px-4">{{ postsLen|intcomma }}</div>
                                </div>
                                <div class="col-4">
                                    <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                        <i class="fa fa-folder-open fs-2" style="color: rgb(95, 14, 245);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="company2Table">
                            <thead>
                                <tr class="bg-gradient bg-light">
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">File Recipient</th>
                                    <th class="text-center">File Name</th>
                                    <th class="text-center">Stamp Date</th>
                                    <th class="text-center">Copy Link</th>   
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                {% if post.company.name == "Minet Botswana Retirement Solutions" %}
                                <tr>
                                    <td class="text-start">{{ post.title }}</td>
                                    <td class="text-start">{{ post.description }}</td>
                                    <td class="text-start">{{ post.user.first_name }} {{ post.user.last_name }}</td>
                                    <td class="text-start"><a href="{{ post.file_path.url }}" download="{{ post.file_path|replaceBlank:'uploads/' }}">{{ post.file_path|replaceBlank:'uploads/' }} <i class="fa fa-download"></i></a></td>
                                    <td class="text-start">{{ post.date_created }}</td>
                                    <td class="text-center"><button class="btn btn-default bg-gradient btn-sm copy-link" type="button" data-url="{{ request.build_absolute_uri|slice:':-1' }}{{ post.get_share_url }}" title="Copy Link tp clipboard"><i class="fa fa-copy"></i> Share Link</button></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content for Company 2 -->
        <div class="tab-pane fade" id="company2" role="tabpanel" aria-labelledby="company2-tab">
            <!-- Company 2 Dashboard Content -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                        <div class="card-body">
                            <div class="d-flex w-100">
                                <div class="col-8 pe-2">
                                    <div class="summary-title fs-5 border-bottom">Total File Items</div>
                                    <!-- Placeholder for total file items -->
                                    <div class="summary-count text-end fw-bolder mt-3 px-4">Total file items here</div>
                                </div>
                                <div class="col-4">
                                    <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                        <i class="fa fa-folder-open fs-2" style="color: rgb(95, 14, 245);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Placeholder for table content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="company1Table">
                            <thead>
                                <tr class="bg-gradient bg-light">
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">File Recipient</th>
                                    <th class="text-center">File Name</th>
                                    <th class="text-center">Stamp Date</th>
                                    <th class="text-center">Copy Link</th>   
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Placeholder rows -->
                                {% for post in posts %}
                                {% if post.company.name == "Minet Botswana Risk Solutions" %}
                                <tr>
                                    <td class="text-start">{{ post.title }}</td>
                                    <td class="text-start">{{ post.description }}</td>
                                    <td class="text-start">{{ post.user.first_name }} {{ post.user.last_name }}</td>
                                    <td class="text-start"><a href="{{ post.file_path.url }}" download="{{ post.file_path|replaceBlank:'uploads/' }}">{{ post.file_path|replaceBlank:'uploads/' }} <i class="fa fa-download"></i></a></td>
                                    <td class="text-start">{{ post.date_created }}</td>
                                    <td class="text-center"><button class="btn btn-default bg-gradient btn-sm copy-link" type="button" data-url="{{ request.build_absolute_uri|slice:':-1' }}{{ post.get_share_url }}" title="Copy Link tp clipboard"><i class="fa fa-copy"></i> Share Link</button></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content for Company 3 -->
        <div class="tab-pane fade" id="company3" role="tabpanel" aria-labelledby="company3-tab">
            <!-- Company 3 Dashboard Content -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                        <div class="card-body">
                            <div class="d-flex w-100">
                                <div class="col-8 pe-2">
                                    <div class="summary-title fs-5 border-bottom">Total File Items</div>
                                    <!-- Placeholder for total file items -->
                                    <div class="summary-count text-end fw-bolder mt-3 px-4">Total file items here</div>
                                </div>
                                <div class="col-4">
                                    <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                        <i class="fa fa-folder-open fs-2" style="color: rgb(95, 14, 245);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Placeholder for table content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="company3Table">
                            <thead>
                                <tr class="bg-gradient bg-light">
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">File Recipient</th>
                                    <th class="text-center">File Name</th>
                                    <th class="text-center">Stamp Date</th>
                                    <th class="text-center">Copy Link</th>   
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                {% if post.company.name == "Minet Botswana PTY LTD" %}
                                <tr>
                                    <td class="text-start">{{ post.title }}</td>
                                    <td class="text-start">{{ post.description }}</td>
                                    <td class="text-start">{{ post.user.first_name }} {{ post.user.last_name }}</td>
                                    <td class="text-start"><a href="{{ post.file_path.url }}" download="{{ post.file_path|replaceBlank:'uploads/' }}">{{ post.file_path|replaceBlank:'uploads/' }} <i class="fa fa-download"></i></a></td>
                                    <td class="text-start">{{ post.date_created }}</td>
                                    <td class="text-center"><button class="btn btn-default bg-gradient btn-sm copy-link" type="button" data-url="{{ request.build_absolute_uri|slice:':-1' }}{{ post.get_share_url }}" title="Copy Link tp clipboard"><i class="fa fa-copy"></i> Share Link</button></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div class="timeline">
        {% for post in posts %}
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>{{ post.title }}</h3>
            <p>Sent on {{ post.date_created|date:"F d, Y" }}</p>
          </div>
        </div>
        {% endfor %}
      </div-->
      
</section>

{% endblock pageContent %}

{% block ScriptBlock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all company tab elements
        var companyTabs = document.querySelectorAll('.nav-link');

        // Add click event listener to each tab
        companyTabs.forEach(function(tab) {
            tab.addEventListener('click', function() {
                // Hide the timeline when a company tab is clicked
                document.getElementById('timelineWrapper').style.display = 'none';
            });
        });
    });
</script>

<script>
    $(function() {
        // Initialize Bootstrap tabs
        var companyTabs = new bootstrap.Tab(document.getElementById('companyTabs'));
        companyTabs.show();
    });
</script>
<script>
    $(document).ready(function() {
        $('.copy-link').click(function() {
            var url = $(this).data('url');
            var tempInput = $('<input>');
            $('body').append(tempInput);
            tempInput.val(url).select();
            document.execCommand('copy');
            tempInput.remove();
            alert('Link copied to clipboard: ' + url);
        });
    });
</script>
<script>
    // Function to calculate and display total file items for each company
    function updateTotalFileItems() {
        // Company 1
        var totalCompany1 = document.querySelectorAll('#company1 tbody tr').length;
        document.querySelector('#company1 .summary-count').textContent = totalCompany1;

        // Company 2
        var totalCompany2 = document.querySelectorAll('#company2 tbody tr').length;
        document.querySelector('#company2 .summary-count').textContent = totalCompany2;

        // Company 3
        var totalCompany3 = document.querySelectorAll('#company3 tbody tr').length;
        document.querySelector('#company3 .summary-count').textContent = totalCompany3;
    }

    // Call the function when the page loads
    document.addEventListener('DOMContentLoaded', function() {
        updateTotalFileItems();
    });
</script>

<!-- JavaScript for Company 1 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        // Initialize DataTable
        var company1Table = $('#company1Table').DataTable({
            paging: true, // Enable pagination
            searching: true, // Enable search
            ordering: true // Enable ordering
        });
        // Initialize DataTable for Company 2
        var company2Table = $('#company2Table').DataTable({
            paging: true, // Enable pagination
            searching: true, // Enable search
            ordering: true // Enable ordering
        });

        // Initialize DataTable for Company 3
        var company3Table = $('#company3Table').DataTable({
            paging: true, // Enable pagination
            searching: true, // Enable search
            ordering: true // Enable ordering
        });
    });
</script>
{% endblock ScriptBlock %}
